.App {
  text-align: left;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 1vmin);
  color: white;
}

h4 {
  color: rgb(216, 216, 216);
}
li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.PerEd {
  display: flex;
  justify-content: space-between;
  /*gap: 3vh;*/
}
.flexAll {
  display: flex;
  min-height: 100%;
  gap: 5vw;
}

.Personal,
.Education,
.WorkHistory {
  /* color: #282c34;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  min-height: 80;
  min-width: 25vw;
  background-color: #282c34;
  padding: 3vh;
  /*border-radius: 25px;*/
  /*border: 2px solid black;*/
  line-height: 3vh;
}

.infoOutput {
  color: #282c34;
  background-color: rgb(248, 245, 240);
  min-height: 100%;
  padding: 3vh;
  /*  border-radius: 25px;
  border: 2px solid black;*/
  line-height: 3vh;
}

.formFlex {
  width: 50%;
  display: flex;
  /*flex-direction: column;*/
  margin-right: 0;
  /* background-color: rgb(248, 245, 240);*/
  min-height: 100%;

  align-items: center;
}

.formFlex button {
  padding: 2vh;
  font-size: small;
  width: 100px;
  /*  position: absolute;
  top: 65vh;*/
}
.WorkHistory {
  /* min-width: 80%;*/
}

.infoOutput {
  min-width: 45%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.notEdited {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: inherit;
}

.notEdited:focus {
  /*outline: none;*/
}
/*KORJAA SUBMIT NAPIT! MENEE NYT TEKSTIEN PÄÄLLE VÄLILLÄ*/

.hidden {
  display: none;
}

.perData,
.eduData,
.workData {
  display: block;
  line-height: 3vh;
  color: #282c34;
  background-color: rgb(248, 245, 240);
  min-width: 25vw;
  /*min-height: 80vh;*/
  padding: 3vh;
}

EditText::placeholder {
  color: black;
}

li {
  margin: 2vh 0vh 2vh 0vh;
}
